{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} About {% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:30px;">
    <div class="padding">
        <div class="col-md-10" style="margin-left:auto; margin-right:auto;">
            <!-- Column -->
            <div class="card border-dark border-4"><img class="card-img-top"
                                                        src="https://p0.zoon.ru/preview/CUvzVopBvvOlqA4WTRr6FA/2400x1500x75/1/9/a/original_5791219640c088286e8ba349_5a42e2c908749.jpg"
                                                        alt="Card image cap">
                <div class="card-body little-profile text-center">
                    <h2 class="text-primary">Новости IT</h2>
                    <p>Мы выкладываем интересные новости в сфере IT, вы также можете пройти регистрацию и присоединиться в качестве автора для публикации своих статей</p>
                    <p>При создании статей просим соблюдать законодательство Российской Федерации</p>
                    <p>Для обратной связи вы можете связаться с нами по почтовому адресу "Novosti_IT@gmail.com"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

