<!DOCTYPE html>
{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} News 3 {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main/css/for_news123.css' %}">

</head>
<body>
{% block content %}

<div class="text-center" style="margin-top:30px;">
<div class="card border-dark mb-3 border-4" style="max-width: 55rem;">
  <img src="{% static 'main/img/News_icon3.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body text-dark bg-light bg-gradient">
    <h4 class="card-title">Купить ChatGPT Plus теперь нельзя из-за безумного спроса</h4>
        <p class="card-text" align="left">
            <br>Глава OpenAI Сэм Альтман заявил, что спрос на платную версию ChatGPT превысил возможности компании.
            <br><br>
            ☝🏻В связи с этим, возможность оформления новых подписок ChatGPT Plus временно приостановлена.
            <br><br>
            Новые функции чат-бота ChatGPT позволяют пользователям создавать собственные специализированные версии для узкопрофильных задач, обрабатывать файлы и работать с изображениями.
            <br><br>
            В компании отметили, что новая функциональность позволяет пользователям без навыков программирования создавать версии ChatGPT для помощи в учебе, объяснении правил настольных игр и производить сотни вещей, которые ранее были слишком сложны или вовсе недоступны.🤖
        </p>
    <a href="http://127.0.0.1:8000/news_1/" class="btn btn-primary">Следующая новость</a>
  </div>
</div>
</div>

{% endblock %}
</body>
</html>