<!DOCTYPE html>
{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Новость 1 {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main/css/for_news123.css' %}">

</head>
<body>
{% block content %}

<div class="text-center" style="margin-top:30px;">
<div class="profile-card card border-dark mb-3 border-4" style="max-width: 55rem;">
  <img src="{% static 'main/img/News_icon1.jpg' %}" class="card-img-top" alt="image">
  <div class="card-body text-dark bg-light bg-gradient">
    <h4 class="card-title">Китай запускает самый быстрый в мире интернет</h4>
        <p class="card-text" align="left">
            <br>Китай утверждает что разработал самый быстрый в мире интернет со скоростью 1,2 терабита в секунду.
            <br><br>
            Это в 10 раз быстрее, чем у ближайших конкурентов — США и Южной Кореи.📈
            <br><br>
            Новая сеть может отправлять 150 фильмов в формате 4K менее чем за секунду.
            <br><br>
            Он также может отправить всю глобальную библиотеку контента Netflix менее чем за полчаса.
            <br><br>
            Сеть была запущена в понедельник и прошла все эксплуатационные испытания. Все программное и аппаратное обеспечение сети китайского производства.
        </p>
    <a href="http://127.0.0.1:8000/news_2/" class="btn btn-primary">Следующая новость</a>
  </div>
</div>
</div>

{% endblock %}
</body>
</html>